.dropdown {
    position: relative;

    .dropdown-button {
        display: flex;
        align-items: center;

        .user-name {
            display: none;
            padding: 10px;        
        }

        .user-avatar {
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 10px 0;
        min-width: 150px;
        border-radius: 4px;
        background: #fff;

        a {
            display: block;
            padding: 10px 15px;

            &:hover {
                background-color: #fafafa;
            }
        }
    }

    &:hover {
        .dropdown-menu {
            display: flex;
        }
    }
}

@media only screen and (min-width: 768px) {
    .dropdown {
        .dropdown-button {
            .user-name {
                display: flex;
            }
        }
    }
}