.form-head {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    .user-sketch {
        height: 150px;
        margin-bottom: 10px;
    }

    h2 {
        color: #51a94b;
    }

    p {
        line-height: 1.5;
    }
}

.password-reset {
    padding: 10px 15px;

    .ui-card {
        width: 100%;
    }

    form {
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .password-reset {
        .ui-card {
            width: auto;
        }
    }
}