.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    min-height: 40px;
    padding: 5px 12px;
    min-width: 40px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    transition: all .15s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background-color: #fff;
        outline: none;
        box-shadow: none;
    }

    &.positive {
        color: #fff;
        background-color: #51A94B;
        border-color: #51A94B;

        &:hover,
        &:focus {
            background-color: #48a042;
            border-color: #48a042;
        }
    }

    &.default {
        color: #fff;
        background-color: #4f4d50;
        border-color: #4f4d50;

        &:hover,
        &:focus {
            background-color: #3b3a3c;
            border-color: #3b3a3c;
        }
    }
}