.error {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;

    .icon {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    &.warning {
        color: #F44336;

        .icon {
            fill: #F44336;
        }
    }
}