.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 0;
    box-shadow: 0 4px 3px -4px rgba(60, 64, 67, 0.2);

    .item {
        display: flex;
        color: #6c757d;

        &:first-child {
            color: #51a94b;
            font-weight: 600;

            &+.item {
                padding-left: 20px;

                &:before {
                    display: none;
                }
            }
        }

        &+.item {
            padding-left: 15px;

            &:before {
                display: inline-block;
                padding-right: .5rem;
                color: #6c757d;
                content: "/";
            }
        }
    }
}