.navbar {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #ced4da;

    .navbar-logo {
        height: 30px;

        &:hover {
            cursor: pointer;
        }
    }

    .search {
        width: 250px;

        .search-input {
            background-color: #f8f6fe;
            border-color: transparent;

            &::placeholder {
                color: #d1d3e0;
            }
        }
    }

    .time-date {
        background-color: #f8f6fe;
        border-color: transparent;
        margin-left: 50px;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 14px;
        min-height: 36px;
        display: none;
        justify-content: center;
        align-items: center;

        span {
            &+span {
                margin-left: 10px;
            }
        }
    }

    .narbar-left {
        display: flex;
        align-items: center;
    }

    .narbar-center {
        display: flex;
        justify-content: center;
    }

    .narbar-right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        .time-date {
            display: flex;
        }

        .narbar-left {
            width: 20%;
        }

        .narbar-center {
            flex-grow: 1;
        }

        .narbar-right {
            width: 20%;
        }
    }
}