.sidebar {
    width: 250px;
    background: #51a94b;
    position: fixed;
    z-index: 99;
    top: 61px;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-top-right-radius: 250px;
    transition: .2s all ease-in-out;
    transform: translateX(0);

    .user-head {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 13px;

        .user-avatar {
            width: 40px;
            margin-bottom: 15px;
        }

        .user-name {
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    .menu {
        padding-left: 15px;
    }

    .mail-box {
        margin-top: 10px;
        position: relative;

        .button {
            padding: 0;
            min-height: 0;
            min-width: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;

            .icon {
                width: 15px;
                height: 15px;
                fill: #51a94b;
            }
        }

        .count {
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            background-color: #51a94b;
            border: 2px solid #fff;
            position: absolute;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -3px;
            right: -3px;
            z-index: 1;
        }
    }

    &+.contents {
        overflow: hidden;
    }

    &.open {
        transform: translateX(-100%);

        &+.contents {
            overflow: initial;
        }
    }
}

@media only screen and (min-width: 768px) {
    .sidebar {
        transform: translateX(-100%);

        &+.contents {
            overflow: initial;
        }

        &.open {
            transform: translateX(0);

            &+.contents {
                margin-left: 250px;
            }
        }

        .mail-box {
            margin-top: 50px;
        }
    }
}