.form-input {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 36px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: all .15s ease-in-out;

    &:focus {
        color: #3d4043;
        background-color: #fff;
        border-color: #7a7a7a;
        outline: 0;
        box-shadow: none;
    }
}

.form-input-box {
    position: relative;
    margin-bottom: 20px;
    transition: all .15s ease-in-out;
    border-left: 2px solid transparent;

    .pre-icon {
        position: absolute;
        height: 18px;
        width: 18px;
        top: 9px;
        left: 10px;
        fill: #858585;

        &+.form-input {
            padding-left: 35px;
        }
    }

    .form-input {
        &::placeholder {
            color: #858585;
        }
    }

    &.transparent {
        .form-input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0;
        }
    }

    &.large {
        .pre-icon {
            top: 11px;
        }

        .form-input {
            min-height: 40px;
        }
    }

    &:hover {
        border-left-color: #51a94b;
        box-shadow: 2px 2px 5px -1px rgba(60, 64, 67, 0.2);
    }
}

@media only screen and (min-width: 768px) {}