.search {
    position: relative;
    display: none;

    .search-button {
        padding: 0;
        position: absolute;
        top: 4px;
        right: 4px;
        min-height: 28px;
        min-width: 28px;

        svg {
            width: 15px;
            height: 15px;
            fill: #fff;
        }

        &+.search-input {
            padding-right: 40px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .search {
        display: flex;
    }
}