*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 14px;
  color: #1a1a1a;
  background-color: #fbfcfc;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 10px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

a {
  color: #288cdb;
  text-decoration: none;

  &:hover {
    color: #096fc1;
    text-decoration: none;
  }
}

a:not([href]) {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}

// Utility classes

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.frow-1 {
  flex-grow: 1;
}

.width {
  width: 100%;
}

// End Utility classes

// Menu 

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;

  li {
    svg {
      height: 20px;
      width: 20px;

      &+span {
        margin-left: 15px;
      }
    }

    &+li {
      margin-left: 25px;
    }

    .button {
      padding: 8px;
      border-radius: 4px;
      font-size: 13px;

      &:hover {
        cursor: pointer;
        background-color: #fafafa;
      }
    }

    &.unread {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background: #ddd;
        border-radius: 50%;
        top: 5px;
        right: 2px;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        height: 18px;
        width: 18px;
        background: rgba(221, 221, 221, 0.5);
        border-radius: 50%;
        top: 1px;
        right: -2px;
        z-index: 1;
      }

      &.blue {
        &:before {
          background-color: #2962ff;
        }

        &:after {
          background-color: rgba(41, 98, 255, 0.2);
        }
      }

      &.orange {
        &:before {
          background-color: #f75e81;
        }

        &:after {
          background-color: rgba(247, 94, 129, 0.2);
        }
      }
    }
  }

  &.vertical {
    flex-direction: column;

    li+li {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &.invert {
    li {
      color: #fff;

      .button {
        color: #fff;
        width: 100%;
        text-align: left;
        display: flex;
        border-radius: 20px 0 0 20px;
        padding-left: 12px;

        &:hover {
          background-color: rgba(250, 250, 250, 0.1);
        }
      }

      svg {
        fill: #fff;
      }

      &.active {
        .button {
          background-color: #fff;
          border-radius: 20px 0 0 20px;
          color: #51a94b;
          box-shadow: 0 4px 5px 1px rgba(60, 64, 67, .3);

          svg {
            fill: #51a94b;
          }
        }
      }
    }
  }
}

// End menu

// Contents

.contents {
  padding-top: 15px;
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  transition: .2s all ease-in-out;
}

.ui-card {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 5px 0px rgba(60, 64, 67, 0.2);
  min-width: 60%;
}

// End contents

